* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
}

#app-wrapper {
    width: 100%;
    height: 100vh;
}

main {
    height: calc(100% - 100px);

    /* test */
    background-color: blue;
}

nav {
    float: left;
    width: 200px;
    height: 100%;
    overflow: hidden;

    /* test */
    background-color: #000;
}

.nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo img {
    width: 120px;
    padding: 10px;
}

.main-links a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border-left: 3px solid #000;  /* dare il colore del background */
    text-decoration: none;
    color: #d2d2d2;
}

.main-links a:hover {
    color: #fefefe;
}

.main-links li:first-child > a {
    border-left: 3px solid #adff2f;
}

.main-links a > img {
    width: 25px;
    margin-right: 5px;
}

/* playlist */
.playlist-container {
    min-height: 100px;
    overflow: hidden;
    flex-grow: 1;
    padding-top: 30px;}

.playlist {
    height: 100%;
    overflow-y: auto;      
}

.playlist-container h2 {
    color: #fefefe;
    font-size: 14px;
    padding: 5px 12px;
}

.playlist-container a {
    color: #d2d2d2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
}

.box-plus {
    width: 30px;
    height: 30px;
    background-color: #d2d2d2;
    display: inline-block;
    color: #000;
    position: relative;
    margin-right: 10px;
}

.box-plus > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
} 

.playlist-container a:hover {
    color: #fefefe;
}

/* installa app  */
.install-app {
    padding: 0 15px;
    /* test  */
    background-color: #000;
}

.download-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 10px;
    color: #d2d2d2;
    font-size: 12px;
}

.download-app:hover {
    color: #fefefe;
}

.download-app img {
    width: 20px;
    margin-right: 10px;
}

.profile { 
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fefefe;
    padding: 10px 0;
    font-weight: bold;
}

.box-profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    background-color: #808080;
    margin-right: 10px;
}

/* CONTENUTO PRINCIPALE */
.main-content {
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
}

/* FOOTER  */
footer {
    height: 100px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
}

.footer-left {
    width: 200px;
    color: #808080;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-left h3 {
    color: #fefefe;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

.footer-left p {
    font-size: 12px;
}

.footer-img {
    max-width: 45px;
}

.footer-img img {
    width: 100%;
}

.footer-middle {
    width: 300px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.icons {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.icons a {
    text-decoration: none;
    color: #fefefe;
}

.icons .play-icon i {
    font-size: 23px;
}

.icons i {
    font-size: 13px;
}

/* barra di avanzamento*/
.dark-bar {
    height: 5px;
    width: 70%;
    background-color: #5a5a5a;
    border-radius: 3px;
}

.light-bar {
    height: 5px;
    width: 20%;
    background-color: #c1c1c1;
    border-radius: 3px;
}

.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fefefe;
    font-size: 8px;
}

.left-bar {
    margin-right: 20px;
}

.right-bar {
    margin-left: 20px;
}

/* footer right */
.footer-right {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.footer-right .dark-bar {
    width: 70px;
}

.footer-right .light-bar {
    width: 30px;
}